[core]
	editor = \"C:\\Users\\amont\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[credential]
	helper = "!f() { /root/.vscode-server/bin/e8a3071ea4344d9d48ef8a4df2c097372b0c5161/node /tmp/vscode-remote-containers-20df3e56a84ee0b916e6cc59c9d33f22fdd717ac.js $*; }; f"
[init]
	defaultBranch = master
[user]
	email = amontenegro.sistemas@gmail.com
	name = AlexanderZon
